[submodule "External/Tavis.Home"]
	path = External/Tavis.Home
	url = git@github.com:rollingthunder/Tavis.home.git
[submodule "External/Tavis.Link"]
	path = External/Tavis.Link
	url = git@github.com:rollingthunder/Link.git
[submodule "External/Tavis.PrivateCache"]
	path = External/Tavis.PrivateCache
	url = git@github.com:rollingthunder/Tavis.PrivateCache.git
[submodule "External/Tavis.UriTemplates"]
	path = External/Tavis.UriTemplates
	url = git@github.com:rollingthunder/UriTemplates.git
[submodule "External/Siren.Net"]
	path = External/Siren.Net
	url = git@github.com:rollingthunder/Siren.Net.git
[submodule "External/SterlingDB"]
	path = External/SterlingDB
	url = git@github.com:rollingthunder/SterlingDB.git
[submodule "External/Tavis.PrivateCache.Sterling"]
	path = External/Tavis.PrivateCache.Sterling
	url = git@github.com:rollingthunder/Tavis.PrivateCache.Sterling.git
