<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://diversityapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>diversityapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DiversityAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$DiversityAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Collection" Order="1" Enabled="False">
          <Destination Path="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};Application Name=EntityFramework" Name="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Collection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Collection.DiversityCollection.csdl|res://*/Collection.DiversityCollection.ssdl|res://*/Collection.DiversityCollection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0},{1};initial catalog={2};user id={3};password={4};MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TaxonNames" Order="2" Enabled="False">
          <Destination Path="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};Application Name=EntityFramework" Name="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TaxonNames_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/TaxonNames.DiversityTaxonNames.csdl|res://*/TaxonNames.DiversityTaxonNames.ssdl|res://*/TaxonNames.DiversityTaxonNames.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0},{1};initial catalog={2};user id={3};password={4};MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Unknown" Order="3" Enabled="False">
          <Destination Path="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};Application Name=EntityFramework" Name="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source={0},{1};Initial Catalog={2};User ID={3};Password={4};Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Unknown_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Module.Module.csdl|res://*/Module.Module.ssdl|res://*/Module.Module.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0},{1};initial catalog={2};user id={3};password={4};MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UserDB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|\UserDB.sdf" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UserDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=|DataDirectory|\UserDB.sdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Collection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Collection.DiversityCollection.csdl|res://*/Collection.DiversityCollection.ssdl|res://*/Collection.DiversityCollection.msl;provider=System.Data.SqlClient;provider connection string="data source={0},{1};initial catalog={2};user id={3};password={4};multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TaxonNames-Web.config Connection String">
      <ParameterValue>metadata=res://*/TaxonNames.DiversityTaxonNames.csdl|res://*/TaxonNames.DiversityTaxonNames.ssdl|res://*/TaxonNames.DiversityTaxonNames.msl;provider=System.Data.SqlClient;provider connection string="data source={0},{1};initial catalog={2};user id={3};password={4};multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Unknown-Web.config Connection String">
      <ParameterValue>metadata=res://*/Module.Module.csdl|res://*/Module.Module.ssdl|res://*/Module.Module.msl;provider=System.Data.SqlClient;provider connection string="data source={0},{1};initial catalog={2};user id={3};password={4};multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserDB-Web.config Connection String" />
  </ItemGroup>
</Project>